<%= link_to('Create a product',new_product_path) %>
<% @products.each do |f| %>
<div class="card" style="width: 18rem;">
  <p>
    <%= link_to(f.title,edit_product_path(f.id)) %>
    <%= link_to('Delete',product_path(f.id), method: :delete, data: {confirm: 'Are you sure'}) %>
  </p>
<% end %>
